.menu [type="checkbox"] {
    display: none;
}

.menu__toggle span {
    font-family: "untitled-font-1";
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 11px;
}

.menu__toggle {
    font-size: 20px;
    display: none;
    background: rgb(55, 65, 73);
    background: -moz-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#374149', endColorstr='#374149', GradientType=0);
    color: #fff;
    padding: 10px 50px;
    position: relative;
}

@media screen and (max-width: 1025px) {
    .wrapper {
        width: 90vw;
        overflow: hidden;
    }

    .menu li:hover>ul {
        display: none;
    }

    .menu ul{
        display: block;
    }
    .menu ul li a{
        overflow: hidden;
        height: 0;
        padding: 0;
    }


    .menu input:checked~ul li a{
        height: 20px;
        padding: 10px;
    }


    .menu__toggle {
        display: block;
    }

    .menu input:checked~.menu__toggle {
        background: rgb(124, 136, 146);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    }



    .menu input:checked~a {
        background: rgb(124, 136, 146);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    }

    .articleRacing__video{
        float: none;
        margin: 20px auto;
    }

    .articleRacing_img5{
        float: none;
        width: 50%;
        margin: 20px auto;
    }

    .articleRacing__video_linck{
        position: static;
        margin: 20px auto;
    }

}





@media screen and (max-width: 770px){
    .header__text{
        display: none;
    }
    
}



@media screen and (max-width: 620px){
    .video{
        width: 400px;
        height: 225px;
    }

    .articleRacing_img5{
        width: 80%;
    }

    .nav__element{
        height: 350px;
    }

    .nav__text_droneRacingText {
        width: 150px;
        font: 30px sans-serif;
        left: 20px;
        top: 50px;
    }
}

@media screen and (max-width: 480px){
    .nav__element{
        height: 270px;
    }

    .nav__list{
        float: none;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    .nav__list>li {
        flex-grow: 1;
        transform: none;
    }

    .nav__list>li:first-child {
        border-radius: 0;
    }

    .nav__list>li a{
        transform: none;
    }

    .nav__text_droneRacingText{
        display: none;
    }

    .logo {
        width: 130px;
        padding: 7px;
        border-radius: 15px;
    }

    .logo__Img {
        width: 80px;
    }

    .logo__text {
        width: 90px;
        font: 900 18px sans-serif;
    }

    .header__logo {
        flex: 0 0 180px;
    }
}

@media screen and (max-width: 320px){

}