body {
    margin: 0;
    border: none;
    background: url("../images/sky.jpg") no-repeat;
    background-size: 100vw;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3px;
    position: relative;
}

/*anchor*/
.anchor {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #374149;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "untitled-font-1";
    line-height: 40px;
    position: fixed;
    right: 0;
    bottom: 100px;
    opacity: .3;
    -webkit-box-shadow: 0 0 7px 3px #ccc;
    box-shadow: 0 0 7px 3px #ccc;
    z-index: 100;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.anchor:hover {
    opacity: 1;
}

/*logo*/
.logo {
    width: 220px;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px #374149;
    box-shadow: 0 0 5px #374149;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo__Img {
    width: 100px;
}

.logo__text {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    font: 900 22px sans-serif;
    float: right;
    color: #374149;
}

@-webkit-keyframes prop {
    from{
        -webkit-transform: none;
        transform: none;

    }
    to{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes prop {
    from{
        -webkit-transform: none;
        transform: none;

    }
    to{
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.prop__img{
    position: absolute;
    top:-180px;
    right: calc(((100vw - 1006px) / 2 - 160px) * -1);
    width: 400px;
    -webkit-animation: prop 5s linear infinite;
    animation: prop 5s linear infinite;
    transform-origin: 50% 66%;


}

.prop {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: -20px;
}

/*header*/
.header {
    margin-top: 20px;
    padding-bottom: 130px;
}

.header__logo {
    margin: 5px;
    float: left;
}

.header__text {
    width: 400px;
    float: right;
    margin-top:30px;
    margin-right:120px;
    font: 18px sans-serif;
    font-style: italic;
}

/*nav*/
.nav {
    position: relative;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 10px black, inset 0 0 5px white;
    box-shadow: 0 0 10px black, inset 0 0 5px white;
    border-radius: 20px;
}

.nav__element.slick-slide {
    width: 100%;
    height: 400px;
    position: relative;
    background-size: 60%;
    background-position: 50% 70%;
    overflow: hidden;
    border-radius: 20px;
}

.nav__element_droneRacing {
    background: url(../images/drone210.png) no-repeat 50% 70%;
    background-size: 60%;
}

.nav__element_dronePhoto {
    background: url(../images/dronePhoto.png) no-repeat 50% 70%;
    background-size: 60%;
}

.nav__element_droneJunior {
    background: url(../images/droneJunior.png) no-repeat 50% 55%;
    background-size: 65%;
}


.nav__text {
    text-align: center;
    text-transform: uppercase;
    color: #374149;
    position: absolute;
}

.nav__text_droneRacingText {
    width: 160px;
    font: 40px sans-serif;
    left: 30px;
    top: 30px;
}

.nav__text_dronePhotoText {
    width: 200px;
    font: 25px sans-serif;
    left: 30px;
    top: 30px;
}

.nav__text_droneJuniorText {
    width: 200px;
    font: 25px sans-serif;
    left: 30px;
    top: 30px
}

.nav__list {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.nav__list > li {
    display: inline-block;
    height: 20px;
    background: rgb(55, 65, 73);
    background: -webkit-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 65, 73, 1)), color-stop(42%, rgba(81, 92, 107, 1)), color-stop(42%, rgba(81, 92, 107, 1)), to(rgba(55, 65, 73, 1)));
    background: -o-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#374149', endColorstr='#374149', GradientType=0);
    -webkit-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    transform: skewX(25deg);
    text-align: center;
    padding: 8px;
    margin-right: -2px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav__list > li:first-child {
    border-bottom-left-radius: 7px;
}

.nav__list > li:hover {
    background: rgb(124, 136, 146);
    background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(124, 136, 146, 1)), color-stop(42%, rgba(81, 92, 107, 1)), color-stop(42%, rgba(81, 92, 107, 1)), to(rgba(124, 136, 146, 1)));
    background: -o-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav__list > li a {
    display: block;
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    text-decoration: none;
    color: white;
    font: 15px sans-serif;
    line-height: 20px;
}

/*menu*/
.menu {
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    margin-top: 20px;
    padding: 0;
    position: relative;
}

.menu * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu ul {
    list-style: none;
}

.menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.menu > ul > li {
    border-right: 1px solid #7c8892;
    position: relative;
    flex-grow:1;
}

.menu > ul > li:last-child {
    border: none;
}

.menu > ul li a {
    display: block;
    height: calc(100% - 20px);
    background: rgb(55, 65, 73);
    background: -webkit-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 65, 73, 1)), color-stop(42%, rgba(81, 92, 107, 1)), color-stop(42%, rgba(81, 92, 107, 1)), to(rgba(55, 65, 73, 1)));
    background: -o-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#374149', endColorstr='#374149', GradientType=0);
    padding: 10px 15px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}

.menu li a:hover {
    background: rgb(124, 136, 146);
    background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(124, 136, 146, 1)), color-stop(42%, rgba(81, 92, 107, 1)), color-stop(42%, rgba(81, 92, 107, 1)), to(rgba(124, 136, 146, 1)));
    background: -o-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    -webkit-box-shadow: 0 0 7px black, inset 0 0 5px #fff;
    box-shadow: 0 0 7px black, inset 0 0 5px #fff;
}

.menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 1;
}

.menu li > ul li {
    border-top: 1px solid #7c8892;
}

.menu li:hover > ul {
    display: block;
}

.article h4 {
    text-align: center;
    font: 35px sans-serif;
    font-weight:800;
}

.article h5 {
    text-align: center;
    font: 28px sans-serif;
    font-weight:700;
}

.video {
    width: 560px;
    height: 315px;
    display: block;
}

.articleFpv__video {
    margin: 20px auto;
}

.articleRacing__video {
    float: right;
}

.articleFpv__video_linck {
    margin: 20px auto;
}

/*video_linck ссылка на видео*/
.video_linck {
    display: block;
    width: 250px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background: #3c3f41;
    border-radius: 5px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.video_linck:hover {
    background: #ff4643;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*Стили раздела дрон рейсинг FPV*/

.articleFpv__img1 {
    float: left;
    margin-right: 3%;
}

.articleFpv__img2 {
    float: right;
}

.articleFpv__img {
    max-width: 48%;
    margin-bottom: 15px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.article p {
    font: 18px sans-serif;
}

/*Стили раздела дрон рейсинг соревнований*/

.articleRacing_img1 {
    width: 48%;
    float: right;
    margin: 0 0 20px 2%;
}

.articleRacing_img2 {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.articleRacing_img3 {
    width: 48%;
}

.articleRacing_img4 {
    width: 48%;
    float: right;
}

.articleRacing_img5 {
    display: block;
    width: calc(100% - 600px);
    float: left;
}

.articleRacing__img {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.articleRacing .articleRacing__text {
    font: italic 19px arial;
}

.articleRacing .articleRacing__text span {
    font: 19px sans-serif;
}

.articleRacing__video_linck {
    margin: 40px auto;
    clear: both;
    position: relative;
    top: 20px;
}

/*Стили раздела дрон рейсинг выбора запчастей*/

.articleOption__img {
    display: block;
    width: 90%;
    margin: 10px auto;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/*Стили раздела дрон рейсинг Сборки*/
.articleAssembly__img1,
.articleAssembly__img3,
.articleAssembly__img7,
.articleAssembly__img9,
.articleAssembly__img11 {
    float: right;
    margin-left: 2%;
}

.articleAssembly__img2,
.articleAssembly__img4,
.articleAssembly__img8,
.articleAssembly__img10 {
    float: left;
    margin-right: 2%;
}

.articleAssembly > div {
    float: left;
}

.articleAssembly__img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.img_hover:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 5px 5px 5px #3C3F41;
    box-shadow: 5px 5px 5px #3C3F41;
}

.terminButton{
    font-size: 20px;
    font-weight:400;
    color: gray;
    cursor: pointer;
}

.articleTermin p{
    position: relative;
}

.articleTermin img{
    display: inline-block;
    position: absolute;
    bottom:-20px;
    right:calc(50% - 30px);
    width: 0;
    border-radius: 10px;
    z-index: 100;
    transition: all .5s;
}

.terminButton:hover img{
    width: 300px;
    box-shadow: 0 0 10px gray;
    transform: translateX(40%) translateY(100%);
}

.slider2{
    padding:10px;
}

.slider4 img,
.slider2 img,
.slider3 img{
    width: 100%;
}

.slider4 .slick-prev:before,
.slider4 .slick-next:before,
.slider3 .slick-prev:before,
.slider3 .slick-next:before,
.slider2 .slick-prev:before,
.slider2 .slick-next:before{
    color: #374149;
}


p.textArial{
    font: italic 17px arial;
}

.textBold{
    font-size: 21px;
    font-weight:550;
}

.articleDronePhoto{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.articleDronePhoto3,
.articleDronePhoto4,
.Junior_bestDrone_img{
    width: 40%;
    box-shadow: 0 0 10px #555;
    cursor: pointer;
    transition: all .5s;
}

.articleDronePhoto3:hover,
.articleDronePhoto4:hover,
.Junior_bestDrone_img:hover{
    transform: scale(2);
    box-shadow: 20px 20px 20px #555;
}

.articleDronePhoto__video{
    margin:0 auto;
}

.article {
    display: none;
}

.article:target {
    display: block;
}

.Junior_bestDrone_img{
    display: block;
    margin:0 auto;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #555;
    margin:15px 0;

}

.footer_img{
    display: none;
}

.footer_img img{
    width: 50px;
}

.footer p{
    font-family: 'Lobster', cursive;
    color: #555;
}