body {
    margin: 0;
    border: none;
    background: url("../images/sky.jpg") no-repeat;
    background-size: 100vw;
}
.wrapper {
    max-width: 1000px;
    height: 1000px;             /* Заглушка*/
    margin: 0 auto;
}
.anchor {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #374149;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "untitled-font-1";
    line-height: 40px;
    position: fixed;
    right: 0;
    bottom: 100px;
    opacity: .5;
    box-shadow: 0 0 7px 3px #ccc;
}
.logo {
    width: 220px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px #374149;
}
.logo__Img {
    width: 100px;
}
.logo__text {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    font:  900 22px sans-serif;
    float: right;
    color: #374149;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.header__logo {
    margin: 5px;
    flex: 0 0 220px;
}
.header__text {
    flex: 0 0 400px;
    font: 18px sans-serif;
    font-style: italic;
}
.header__search {
}
.search {
    border-radius: 5px;
     box-shadow: 0 0 5px #7e7e7e;
}
.search input[type="text"]{
    background: #d8d8d8;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin: 0;
    vertical-align: 0px;
}
.search input[type="text"]:focus{
    outline: 0;
    background: #e8e8e8;
}
.search input[type="submit"]{
    background: #d8d8d8;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px;
    margin: 0 0 0 -4px;
    font-family: "untitled-font-1";
    font-size: 25px;
    vertical-align: -7px;
    color: #fff;
    
}


@media screen and (max-width: 1000px){
    .wrapper {
        width: 90vw;
    }
    .header__search {
        
    }
}