body {
    margin: 0;
    border: none;
    background: url("../images/sky.jpg") no-repeat;
    background-size: 100vw;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3px;
}

/*anchor*/
.anchor {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #374149;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "untitled-font-1";
    line-height: 40px;
    position: fixed;
    right: 0;
    bottom: 100px;
    opacity: .3;
    box-shadow: 0 0 7px 3px #ccc;
    z-index: 100;
    transition: opacity .4s;
}

.anchor:hover {
    opacity: 1;
}

/*logo*/
.logo {
    width: 220px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px #374149;
    user-select: none;
}

.logo__Img {
    width: 100px;
}

.logo__text {
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    font: 900 22px sans-serif;
    float: right;
    color: #374149;
}

/*header*/
.header {
    margin-top: 20px;
    padding-bottom: 130px;
}

.header__logo {
    margin: 5px;
    float: left;
}

.header__text {
    width: 400px;
    float: right;
    margin-top:30px;
    font: 18px sans-serif;
    font-style: italic;
}

/*nav*/
.nav {
    position: relative;
    margin-top: 20px;
}

.nav__element {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 20px;
    background-size: 60%;
    background-position: 50% 70%;
    box-shadow: 0 0 10px black, inset 0 0 5px white;
    overflow: hidden;
}

.nav__element_droneRacing {
    background: url(../images/210.png) no-repeat 50% 70%;
    background-size: 60%;
}

.nav__element_dronePhoto {
    background: url(../images/dronePhoto.png) no-repeat 50% 70%;
    background-size: 60%;
}

.nav__element_droneJunior {
    background: url(../images/droneJunior.png) no-repeat 50% 55%;
    background-size: 65%;
}

.nav__element {
    display: none;
}

.nav__element_droneRacing {
    display: block;
}

.nav__text {
    text-align: center;
    text-transform: uppercase;
    color: #374149;
    position: absolute;
}

.nav__text_droneRacingText {
    width: 160px;
    font: 40px sans-serif;
    left: 30px;
    top: 30px;
}

.nav__text_dronePhotoText {
    width: 200px;
    font: 25px sans-serif;
    left: 30px;
    top: 30px;
}

.nav__text_droneJuniorText {
    width: 200px;
    font: 25px sans-serif;
    left: 30px;
    top: 30px
}

.nav__list {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.nav__list > li {
    display: inline-block;
    height: 20px;
    background: rgb(55, 65, 73);
    background: -moz-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#374149', endColorstr='#374149', GradientType=0);
    transform: skewX(25deg);
    text-align: center;
    padding: 8px;
    margin-right: -2px;
    transition: .3s;
}

.nav__list > li:first-child {
    border-bottom-left-radius: 7px;
}

.nav__list > li:hover {
    background: rgb(124, 136, 146);
    background: -moz-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    transition: .3s;
}

.nav__list > li a {
    display: block;
    transform: skewX(-25deg);
    text-decoration: none;
    color: white;
    font: 15px sans-serif;
    line-height: 20px;
}

/*menu*/
.menu {
    box-shadow: 0 0 5px black;
    margin-top: 20px;
    padding: 0;
    position: relative;
}

.menu * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu ul {
    list-style: none;
}

.menu > ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu > ul li {
    border-right: 1px solid #7c8892;
    position: relative;
}

.menu > ul > li:last-child {
    border: none;
}

.menu > ul li a {
    display: block;
    height: calc(100% - 20px);
    background: rgb(55, 65, 73);
    background: -moz-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(55, 65, 73, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(55, 65, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#374149', endColorstr='#374149', GradientType=0);
    padding: 10px 15px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .8s;
}

.menu li a:hover {
    background: rgb(124, 136, 146);
    background: -moz-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    background: linear-gradient(to bottom, rgba(124, 136, 146, 1) 0%, rgba(81, 92, 107, 1) 42%, rgba(81, 92, 107, 1) 42%, rgba(124, 136, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8892', endColorstr='#7c8892', GradientType=0);
    box-shadow: 0 0 7px black, inset 0 0 5px #fff;
}

.menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    z-index: 1;
}

.menu li > ul li {
    border-top: 1px solid #7c8892;
}

.menu li:hover > ul {
    display: block;
}

.article h4 {
    text-align: center;
    font: 25px sans-serif;
}

.article h5 {
    text-align: center;
    font: 23px sans-serif;
}

.video {
    width: 560px;
    height: 315px;
    display: block;
}

.articleFpv__video {
    margin: 20px auto;
}

.articleRacing__video {
    float: right;
}

.articleFpv__video_linck {
    margin: 20px auto;
}

/*video_linck ссылка на видео*/
.video_linck {
    display: block;
    width: 250px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background: #3c3f41;
    border-radius: 5px;
    transition: all .5s;
}

.video_linck:hover {
    background: #ff4643;
    transform: scale(1.1);
}

/*Стили раздела дрон рейсинг FPV*/

.articleFpv__img1 {
    float: left;
    margin-right: 3%;
}

.articleFpv__img2 {
    float: right;
}

.articleFpv__img {
    max-width: 48%;
    margin-bottom: 15px;
    transition: all .5s;
}

.article p {
    font: 18px sans-serif;
}

/*Стили раздела дрон рейсинг соревнований*/

.articleRacing_img1 {
    width: 48%;
    float: right;
    margin: 0 0 20px 2%;
}

.articleRacing_img2 {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.articleRacing_img3 {
    width: 48%;
}

.articleRacing_img4 {
    width: 48%;
    float: right;
}

.articleRacing_img5 {
    display: block;
    width: calc(100% - 600px);
    float: left;
}

.articleRacing__img {
    transition: all .5s;
}

.articleRacing .articleRacing__text {
    font: italic 19px arial;
}

.articleRacing .articleRacing__text span {
    font: 19px sans-serif;
}

.articleRacing__video_linck {
    margin: 40px auto;
    clear: both;
    position: relative;
    top: 20px;
}

/*Стили раздела дрон рейсинг выбора запчастей*/

.articleOption__img {
    display: block;
    width: 90%;
    margin: 10px auto;
    transition: all .5s;
}

/*Стили раздела дрон рейсинг Сборки*/
.articleAssembly__img1,
.articleAssembly__img3,
.articleAssembly__img7,
.articleAssembly__img9,
.articleAssembly__img11 {
    float: right;
    margin-left: 2%;
}

.articleAssembly__img2,
.articleAssembly__img4,
.articleAssembly__img8,
.articleAssembly__img10 {
    float: left;
    margin-right: 2%;
}

.articleAssembly > div {
    float: left;
}

.articleAssembly__img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
    transition: all .5s;
}

.img_hover:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px #3C3F41;
}

.article,
.article {
    display: none;
}

.article:target {
    display: block;
}









